.App, .gridHolder, .heading {
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}

.App {
  background-color: #d21c17;
  background-color: white;
}

.box  {
  display: flex;
  height : 100px;
  width: 100px;
  background-color:#966F33;
  border:4px ridge white;
  box-sizing: border-box;
  color:white;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  padding-bottom: 10px;
}

.gridHolder {
  display: grid;
  grid-template-columns:100px 100px 100px;
  
}

.winningScreen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: fixed;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
  font-weight: 500;
  font-size: 5rem;
}

.formContainer {
  margin-top:40px;
  background-color: rgb(30, 9, 107);
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  height:80vh;
  color:white;
}

.form {
  display: flex;
  width: 80vh;
  flex-direction: row;
  /* alig: center; */
  justify-content: center;
}